$primary-color: #0048AA;
$accent-color: #EEE;

$primary-dark: darken($primary-color, 8%);

$shadow-box-color: #000000bf;
$search-background-image-color: #ffffff4d;
$light-grey-border: #DDD;
$accent-text-color: darken($accent-color, 86.67);

$sky-blue: #57c1eb;
$sky-dark-blue: #246fa8;