$primary-color: #0048AA;
$accent-color: #EEE;

$primary-dark: darken($primary-color, 8%);

$shadow-border: #00000040;
$shadow-box-color: #000000bf;
$search-background-image-color: #ffffff4d;
$light-grey-border: #DDD;
$input-text-color: #330;
$accent-text-color: #111;

$sky-blue: #57c1eb;
$sky-dark-blue: #246fa8;