@import '../../styles/_colors';

$input-border-color: darken($accent-color, 6.5%);

#chat-form {
  display: flex;
  align-items: center;
  grid-area: chat-form;
  background: $accent-color;
  border-radius: 0 0 10px 0;
  border-top: 1px solid $shadow-border;
  padding-left: 42px;
  padding-right: 22px;

  > img {
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  input {
    flex: 1 0 0;
    outline: none;
    padding: 15px;
    border: 2px solid $input-border-color;
    border-right: none;
    color: $input-text-color;
    border-radius: 6px 0 0 6px;
    font-size: 1.4rem;
    margin-left: 15px;
  }

  button {
    height: 51px;
    flex: 0 0 90px;
    padding: 0 10px;
    background: $primary-color;
    border: 1px solid $primary-dark;
    color: $button-text;
    font-size: 1.4rem;
    border-radius: 0 6px 6px 0;
    outline: none;
    cursor: pointer;
  }
}